

* {
    background-color: lightblue;
}
.wrapper {
    height: 30px;
    width: 300px;
    line-height: 2em;
    background-color: transparent;
    color: black;
}

a[href*=".html"] {
    height: 40px;
    width: 50 px;
    background-color: white;
    border: solid;
}

header {
    height: 100px;
    width: 500px;
    margin: 10px;
    padding: 25 px;
    line-height: 90px;
    background-color: transparent;
}

h1, h2 {
    height: 75px;
    font-size: 75px;
    font-style: oblique;
    padding: 25px;
    background-color: transparent;
}

main {
    background-color: transparent;
}
.box {
    height: 150px;
    width: 1000px;    
    margin: 10px;
    padding: 25px;
    border: solid;
    background-color: transparent;
    font-size: 40px;
}

.forky {
    height: 150px;
    width: 300px;
    margin: 10px;
    padding: 25px;
    background-color: transparent;
    color: black;
}

footer {
    height: 150px;
    width: 500px;
    margin: 10px;
    padding: 25px;
    background-color: transparent;
    color: white;
}

section {
    margin: 45px;
}
